@charset "utf-8";

p.highlight {
    border: 1px solid #bbbbbb;
    border-radius: 8px 8px 8px 8px;
    -o-border-radius: 8px 8px 8px 8px;
    -ms-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -khtml-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    box-shadow: 0px 2px 6px #e2e2e2;
    -o-box-shadow: 0px 2px 6px #e2e2e2;
    -ms-box-shadow: 0px 2px 6px #e2e2e2;
    -moz-box-shadow: 0px 2px 6px #e2e2e2;
    -khtml-box-shadow: 0px 2px 6px #e2e2e2;
    -webkit-box-shadow: 0px 2px 6px #e2e2e2;
    padding: 10px 14px 10px 14px;
    transition: box-shadow 0.35s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: box-shadow 0.35s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: box-shadow 0.35s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: box-shadow 0.35s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
    -khtml-transition: box-shadow 0.35s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: box-shadow 0.35s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
}
