@charset "utf-8";

@import url(animations.css);

@font-face {
    font-family: "Heuristica";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Heuristica-Regular.otf);
}

body {
    animation: fade-into 0.75s ease-in-out;
    -o-animation: fade-into 0.75s ease-in-out;
    -ms-animation: fade-into 0.75s ease-in-out;
    -moz-animation: fade-into 0.75s ease-in-out;
    -webkit-animation: fade-into 0.75s ease-in-out;
    color: #424649;
    font-family: "Heuristica", Georgia, serif;
    font-size: 100%;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    line-height: 12px;
    margin: 0px 0px 0px 0px;
    padding: 60px 0px 0px 60px;
    text-align: left;
}

h1 {
    font-family: "futura-pt", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 28px;
    line-height: 36px;
}

p {
    font-size: 14px;
    line-height: 24px;
    margin: 32px 0px 32px 0px;
}

img.avatar {
    border-radius: 50px;
    height: 100px;
    width: 100px;
}

span.strong {
    background-color: #f8ebdb;
}

.footer-container {
    font-size: 12px;
    line-height: 18px;
    margin: 32px 0px 32px 0px;
}
