@charset "utf-8";

@import url(animations.css);

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Thin"), local("Roboto-Thin"), url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Regular"), local("Roboto-Regular"), url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: local("Roboto Black"), local("Roboto-Black"), url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 100;
    src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url(../fonts/Roboto-ThinItalic.ttf);
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url(../fonts/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: local("Roboto Italic"), local("Roboto-Italic"), url(../fonts/Roboto-Italic.ttf);
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url(../fonts/Roboto-MediumItalic.ttf);
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url(../fonts/Roboto-BoldItalic.ttf);
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 900;
    src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url(../fonts/Roboto-BlackItalic.ttf);
}

@font-face {
    font-family: "arial-black";
    src: local("Arial Black"), local("Arial-Black");
}

html {
    overflow-y: scroll;
}

body {
    background-color: #6d6d6d;
    color: #2d2d2d;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    margin: 0px 0px 0px 0px;
}

body.white {
    background-color: #ffffff;
}

body.grey {
    background-color: #f4f4f4;
}

body.black {
    background-color: #3d3d3d;
}

body.blue {
    background-image: url(../images/textures/blue-1.png?compress=jpeg);
}

body.green{
    background-image: url(../images/textures/green-1.png?compress=jpeg);
}

body.red {
    background-image: url(../images/textures/red-1.png?compress=jpeg);
}

body.brown {
    background-image: url(../images/textures/brown-1.png?compress=jpeg);
}

body.pink {
    background-image: url(../images/textures/pink-1.png?compress=jpeg);
}

body.tablet-s {
    font-size: 14px;
}

body.mobile-s {
    font-size: 12px;
}

body.mobile *,
body.tablet *,
body.tablet-s *,
body.mobile-s * {
    tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    touch-callout: none;
    -webkit-touch-callout: none;
}

a {
    color: #3668c6;
    text-decoration: none;
}

a.active {
    font-weight: bold;
}

a:hover,
a.hover {
    border-bottom: 1px solid #3668c6;
    padding-bottom: 2px;
}

.clear {
    clear: both;
}

span.grey {
    color: #3d3d3d;
}

span.blue {
    color: #3668c6;
}

span.orange {
    color: #f79e36;
}

span.green {
    color: #0d9610;
}

span.red {
    color: #dd3636;
}

span.yellow {
    color: #ffc30a;
}

span.pink {
    color: #e95281;
}

span.greenish {
    color: #00a79d;
}

span.brown {
    color: #594a42;
}

strong {
    border-bottom: 1px dotted #ffffff;
    font-weight: normal;
}

.top-bar {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
    font-size: 20px;
    height: 68px;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.top-bar.transparent {
    background-color: rgba(255, 255, 255, 0.0);
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #ffffff;
}

.top-bar.enabled {
    transition: background 0.25s;
    -o-transition: background 0.25s;
    -ms-transition: background 0.25s;
    -moz-transition: background 0.25s;
    -webkit-transition: background 0.25s;
}

body.tablet-s .top-bar,
body.mobile-s .top-bar {
    height: 50px;
}

body.print .top-bar {
    display: none;
}

.top-bee {
    background: transparent url(../images/bee.png) no-repeat left 0px;
    cursor: pointer;
    float: left;
    height: 28px;
    margin: 20px 0px 20px 24px;
    transition: transform 0.25s;
    -o-transition: -o-transform 0.25s;
    -ms-transition: -ms-transform 0.25s;
    -moz-transition: -moz-transform 0.25s;
    -webkit-transition: -webkit-transform 0.25s;
    width: 28px;
}

.top-bee:hover,
.top-bee.hover {
    background-position: left -28px;
    border-bottom: none;
    padding-bottom: 0px;
}

.top-bee:hover {
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.top-bee.hover {
    transform: none;
    -o-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
}

body.tablet-s .top-bee,
body.mobile-s .top-bee {
    margin: 11px 0px 11px 18px;
}

body.retina-s .top-bee {
    background-image: url(../images/bee-2x.png);
    background-size: 28px 56px;
}

.top-bar.transparent .top-bee {
    display: none;
}

.top-trigger {
    background: transparent url(../images/trigger.png) no-repeat left 0px;
    cursor: pointer;
    display: none;
    float: right;
    height: 28px;
    margin: 20px 24px 20px 0px;
    width: 28px;
}

.top-trigger.flat {
    background-image: url(../images/trigger-flat.png);
}

.top-trigger:hover,
.top-trigger.hover {
    background-position: left -28px;
    border-bottom: none;
    padding-bottom: 0px;
}

.top-trigger.outside {
    background-position: left 0px;
}

body.retina-s .top-trigger {
    background-image: url(../images/trigger-2x.png);
    background-size: 28px 56px;
}

body.retina-s .top-trigger.flat {
    background-image: url(../images/trigger-flat-2x.png);
}

.top-title {
    font-weight: 700;
    line-height: 68px;
    margin-left: 12px;
    text-transform: uppercase;
}

body.tablet-s .top-trigger,
body.mobile-s .top-trigger {
    display: inline;
    margin: 11px 18px 11px 0px;
}

ul.top-menu {
    display: none;
    float: right;
    font-weight: 700;
    line-height: 68px;
    list-style: none;
    margin: 0px 24px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-transform: uppercase;
}

body.tablet-s ul.top-menu,
body.mobile-s ul.top-menu {
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    margin-top: 50px;
    position: absolute;
    width: 100%;
}

body.desktop-s ul.top-menu {
    display: block !important;
}

ul.top-menu > li {
    display: inline-block;
    margin: 0px 18px 0px 18px;
    text-align: center;
}

body.tablet-s ul.top-menu > li,
body.mobile-s ul.top-menu > li {
    display: block;
}

ul.top-menu > li.extra,
ul.top-menu > li.extra {
    font-size: 14px;
}

body.tablet-s ul.top-menu > li.extra,
body.mobile-s ul.top-menu > li.extra {
    display: none;
}

ul.top-menu > li > a {
    color: #2d2d2d;
}

.top-bar.transparent > ul.top-menu > li > a {
    color: #ffffff;
}

body.tablet-s ul.top-menu > li > a,
body.mobile-s ul.top-menu > li > a {
    display: inline-block;
    width: 100%;
}

ul.top-menu > li > a:hover,
ul.top-menu > li > a.hover {
    border-bottom: none;
    color: #3668c6;
    padding-bottom: 0px;
}

ul.top-menu > li > a.grey:hover,
ul.top-menu > li > a.grey.hover {
    color: #3d3d3d;
}

ul.top-menu > li > a.blue:hover,
ul.top-menu > li > a.blue.hover {
    color: #3668c6;
}

ul.top-menu > li > a.orange:hover,
ul.top-menu > li > a.orange.hover {
    color: #f79e36;
}

ul.top-menu > li > a.green:hover,
ul.top-menu > li > a.green.hover {
    color: #0d9610;
}

ul.top-menu > li > a.red:hover,
ul.top-menu > li > a.red.hover {
    color: #dd3636;
}

ul.top-menu > li > a.yellow:hover,
ul.top-menu > li > a.yellow.hover {
    color: #ffc30a;
}

ul.top-menu > li > a.pink:hover,
ul.top-menu > li > a.pink.hover {
    color: #e95281;
}

ul.top-menu > li > a.greenish:hover,
ul.top-menu > li > a.greenish.hover {
    color: #00a79d;
}

ul.top-menu > li > a.brown:hover,
ul.top-menu > li > a.brown.hover {
    color: #594a42;
}

ul.top-menu > li > a.underline:hover,
ul.top-menu > li > a.underline.hover {
    border-bottom: 2px solid #2d2d2d;
    color: #2d2d2d;
}

.top-bar.transparent > ul.top-menu > li > a:hover,
.top-bar.transparent > ul.top-menu > li > a.hover {
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
}

body.tablet-s .content,
body.mobile-s .content {
    margin-top: 50px;
}

body.print .content {
    margin-top: 0px;
}

.panel {
    box-shadow: inset 0px -1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px -1px 5px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0px -1px 5px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    display: none;
    height: 720px;
    min-height: 180px;
    overflow: hidden;
    width: 100%;
}

.panel.head {
    background: transparent url(../images/background/head.jpg) no-repeat center center;
    background-size: cover;
}

.panel.full {
    height: 100%;
}

body.dark .panel.head {
    background-image: url(../images/background/head-dark.jpg);
}

.panel.head > .panel-container.center {
    animation: fade-into 0.75s ease-in-out;
    -o-animation: fade-into 0.75s ease-in-out;
    -ms-animation: fade-into 0.75s ease-in-out;
    -moz-animation: fade-into 0.75s ease-in-out;
    -webkit-animation: fade-into 0.75s ease-in-out;
    background: transparent none no-repeat left center;
    height: 485px;
    max-width: 1116px;
    padding-left: 164px;
    padding-top: 124px;
}

body.tall-s .panel.head > .panel-container.center {
    background-image: url(../images/bee-container.png);
}

body.tablet-s .panel.head > .panel-container.center,
body.mobile-s .panel.head > .panel-container.center {
    background-image: none;
    height: auto;
    padding-left: 24px;
    padding-top: 0px;
}

.panel.head > .keyboard-container {
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.panel.head > .keyboard-container > .keyboard {
    background: transparent url(../images/keyboard.png) no-repeat center center;
    font-size: 11px;
    font-weight: bold;
    height: 16px;
    letter-spacing: 0.5px;
    margin: 0px auto 0px auto;
    margin-bottom: 8px;
    padding-top: 72px;
    text-align: center;
    text-transform: uppercase;
    width: 142px;
}

body.tablet-s .panel.head > .keyboard-container,
body.mobile-s .panel.head > .keyboard-container {
    display: none;
}

body.tablet-s .panel.about,
body.mobile-s .panel.about {
    height: 500px;
}

.panel.about > .header-container {
    background: transparent url(../images/background/about.jpg) no-repeat center center;
    background-size: cover;
    display: table;
}

body.tablet-s .panel.about .header-container,
body.mobile-s .panel.about .header-container {
    height: 40%;
}

body.tablet-s .panel.about .panel-wrapper,
body.mobile-s .panel.about .panel-wrapper {
    height: 60%;
}

.panel.services > .panel-container > h1 {
    font-size: 60px;
    line-height: 54px;
    text-align: center;
}

body.tablet-s .panel.services > .panel-container > h1 {
    font-size: 50px;
    line-height: 44px;
}

body.mobile-s .panel.services > .panel-container > h1 {
    font-size: 32px;
    line-height: 28px;
}

.panel.work {
    height: 780px;
}

.panel.work .block-text {
    width: 680px;
}

body.tablet-s .panel.work .block-text,
body.mobile-s .panel.work .block-text {
    width: auto;
}

.panel.work > .work-container {
    overflow: hidden;
}

.panel.work .project {
    float: left;
    position: relative;
}

.panel.work .project > .image-container {
    background: transparent none no-repeat center center;
    background-size: cover;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
    height: 60%;
}

.panel.work .project > .header-container {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    display: table;
    height: 15%;
}

.panel.work .project > .header-container > h1 {
    font-size: 60px;
    line-height: 64px;
}

.panel.work .project > .item-container {
    height: 50%;
    text-align: center;
}

.panel.work .project > .item-container > .item {
    background: transparent none no-repeat left top;
    background-size: cover;
    height: 100%;
}

.panel.work .project > .item-container > .screen {
    height: 100%;
    position: relative;
}

.panel.work .project > .panel-wrapper {
    height: 35%;
}

.panel.work .project > .panel-wrapper > .panel-container {
    padding-top: 1.5%;
}

.panel.work .project .block-text {
    font-size: 16px;
    line-height: 24px;
}

body.tablet-s .panel.work .project .block-text {
    font-size: 14px;
    line-height: 20px;
}

body.mobile-s .panel.work .project .block-text {
    font-size: 12px;
    line-height: 18px;
}

.panel.work > .arrow-container {
    height: 64px;
    margin-top: -64px;
    position: absolute;
    width: 100%;
}

body.tablet-s .panel.work > .arrow-container,
body.mobile-s .panel.work > .arrow-container {
    display: none;
}

.panel.work > .arrow-container > .arrow {
    background: rgba(255, 255, 255, 0.6) none no-repeat center center;
    cursor: pointer;
    height: 64px;
    transition: 0.25s background-color;
    -o-transition: 0.25s background-color;
    -ms-transition: 0.25s background-color;
    -moz-transition: 0.25s background-color;
    -webkit-transition: 0.25s background-color;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    width: 64px;
}

.panel.work > .arrow-container > .arrow:hover,
.panel.work > .arrow-container > .arrow.hover {
    background-color: rgba(255, 255, 255, 1.0);
}

.panel.work > .arrow-container > .arrow-left {
    background-image: url(../images/arrow-left.png);
    float: left;
}

.panel.work > .arrow-container > .arrow-right {
    background-image: url(../images/arrow-right.png);
    float: right;
}

.panel.no-background {
    background-image: none;
}

.panel.contacts {
    height: 420px;
}

body.tablet-s .panel.contacts {
    height: 340px;
}

body.mobile-s .panel.contacts {
    height: 280px;
}

body.fat-s .panel.contacts .panel-container {
    background: transparent url(../images/bee-contacts.png) no-repeat right top;
}

.panel.contacts .label-copyright,
body.tablet-s .panel.contacts .label-copyright,
body.mobile-s .panel.contacts .label-copyright {
    line-height: 24px;
}

.panel.contacts .label-social a {
    margin-left: 4px;
}

.panel.grey,
.project.grey {
    background-color: #3d3d3d;
}

.panel.blue,
.project.blue {
    background-color: #3668c6;
}

.panel.orange,
.project.orange {
    background-color: #f79e36;
}

.panel.green,
.project.green {
    background-color: #0d9610;
}

.panel.red,
.project.red {
    background-color: #dd3636;
}

.panel.yellow,
.project.yellow {
    background-color: #ffc30a;
}

.panel.pink,
.project.pink {
    background-color: #e95281;
}

.panel.greenish,
.project.greenish {
    background-color: #00a79d;
}

.panel.brown,
.project.brown {
    background-color: #594a42;
}

.panel.texture,
.project.texture {
    background-repeat: repeat;
}

.panel.texture.blue,
.project.texture.blue {
    background-image: url(../images/textures/blue-1.png?compress=jpeg);
}

.panel.texture.green,
.project.texture.green {
    background-image: url(../images/textures/green-1.png?compress=jpeg);
}

.panel.texture.red,
.project.texture.red {
    background-image: url(../images/textures/red-1.png?compress=jpeg);
}

.panel.texture.brown,
.project.texture.brown {
    background-image: url(../images/textures/brown-1.png?compress=jpeg);
}

.panel.texture.pink,
.project.texture.pink {
    background-image: url(../images/textures/pink-1.png?compress=jpeg);
}

.project.texture.alacarte {
    background-image: url(../images/textures/projects/alacarte.png?compress=jpeg);
}

.project.texture.boatday {
    background-image: url(../images/textures/projects/boatday.png?compress=jpeg);
}

.project.texture.colony {
    background-image: url(../images/textures/projects/colony.png?compress=jpeg);
}

.project.texture.metrium {
    background-image: url(../images/textures/projects/metrium.png?compress=jpeg);
}

.project.texture.oibiquini {
    background-image: url(../images/textures/projects/oibiquini.png?compress=jpeg);
}

.project.texture.panzerini {
    background-image: url(../images/textures/projects/panzerini.png?compress=jpeg);
}

.project.texture.take_the_bill {
    background-image: url(../images/textures/projects/take_the_bill.png?compress=jpeg);
}

.panel h1 {
    font-size: 90px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 84px;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
}

.panel h2 {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 54px;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
}

body.tablet-s .panel h1 {
    font-size: 56px;
    line-height: 50px;
}

body.mobile-s .panel h1 {
    font-size: 36px;
    line-height: 34px;
}

.panel h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0px 0px 0px 0px;
}

body.tablet-s .panel h3 {
    font-size: 14px;
    line-height: 22px;
}

body.mobile-s .panel h3 {
    font-size: 12px;
    line-height: 18px;
}

.panel h4 {
    font-size: 20px;
    font-weight: 400;
    font-weight: bold;
    line-height: 28px;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
}

body.tablet-s .panel h4 {
    font-size: 16px;
    line-height: 22px;
}

body.mobile-s .panel h4 {
    font-size: 14px;
    line-height: 18px;
}

.panel.index h3 {
    margin-top: 14px;
    width: 540px;
}

.panel .header-container {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
    height: 50%;
    width: 100%;
}

.panel .header-container > h1 {
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.panel .panel-container {
    margin: 0px auto 0px auto;
    max-width: 960px;
}

.panel .panel-container.wide {
    max-width: 1280px;
}

.panel .panel-container.center {
    margin: 0px 0px 0px 0px;
    padding: 0px 24px 0px 24px;
    position: relative;
}

.panel .panel-wrapper {
    height: 50%;
}

.block-text {
    font-size: 18px;
    line-height: 26px;
    margin: 24px 0px 24px 0px;
    width: 520px;
}

body.tablet-s .block-text {
    font-size: 18px;
    line-height: 24px;
    width: auto;
}

body.mobile-s .block-text {
    font-size: 14px;
    line-height: 18px;
    width: auto;
}

.block-clear {
    clear: both;
}

.block-text.block-left {
    clear: both;
    float: left;
}

.block-text.block-right {
    clear: both;
    float: right;
}

.reference a,
.block-text a,
.flow-header a {
    border-bottom: 1px dotted #ffffff;
    color: #ffffff;
    padding-bottom: 1px;
}

.reference a:hover,
.block-text a:hover,
.flow-header a:hover {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 1px;
}

.label-text {
    font-size: 20px;
    line-height: 30px;
    margin: 24px 0px 0px 0px;
    width: 50%;
}

body.tablet-s .label-text {
    font-size: 16px;
    line-height: 26px;
    width: auto;
}

body.mobile-s .label-text {
    font-size: 14px;
    line-height: 22px;
    width: auto;
}

.label-text.label-small {
    font-size: 16px;
    line-height: 22px;
}

body.tablet-s .label-text.label-small {
    font-size: 14px;
    line-height: 18px;
}

body.mobile-s .label-text.label-small {
    font-size: 12px;
    line-height: 15px;
}

.label-clear {
    clear: both;
    margin-bottom: 24px;
}

body.tablet-s .label-clear,
body.mobile-s .label-clear {
    margin-bottom: 16px;
}

.label-clear:last-child {
    margin-bottom: 6px;
}

body.tablet-s .label-clear:last-child,
body.mobile-s .label-clear:last-child {
    margin-bottom: 4px;
}

.label-text.label-left {
    float: left;
    text-align: left;
}

.label-text.label-right {
    float: right;
    text-align: right;
}

.label-text > a {
    border-bottom: 1px none #ffffff;
    color: #ffffff;
    padding-bottom: 1px;
}

.label-text > a:hover {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 1px;
}

.label-text > a.image-link:hover {
    border-bottom: none;
    padding-bottom: 0px;
}

ul.services {
    list-style: none;
    margin: 48px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

body.tablet-s ul.services,
body.mobile-s ul.services {
    margin-top: 12px;
}

ul.services > li {
    display: inline-block;
    padding: 12px 0px 12px 0px;
    vertical-align: top;
    width: 32%;
}

body.tablet-s ul.services > li,
body.mobile-s ul.services > li {
    text-align: left;
    width: auto;
}

body.tablet-s ul.services > li {
    margin: 12px 0px 12px 0px;
    padding-left: 114px;
}

body.mobile-s ul.services > li {
    margin: 8px 0px 8px 0px;
    padding-left: 82px;
}

ul.services > li > img.icon {
    background: #ffffff;
    border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    margin: 0px auto 0px auto;
    width: 50%;
}

body.tablet-s ul.services > li > img.icon,
body.mobile-s ul.services > li > img.icon {
    display: inline-block;
    vertical-align: middle;
}

body.tablet-s ul.services > li > .service-contents,
body.mobile-s ul.services > li > .service-contents {
    display: inline-block;
    vertical-align: middle;
}

body.tablet-s ul.services > li > img.icon {
    margin-left: -114px;
    margin-right: 12px;
    width: 96px;
}

body.mobile-s ul.services > li > img.icon {
    margin-left: -82px;
    margin-right: 8px;
    width: 64px;
}

ul.services > li h2 {
    font-size: 30px;
    margin: 24px 0px 8px 0px;
    text-transform: uppercase;
}

body.tablet-s ul.services > li h2 {
    font-size: 24px;
    line-height: 24px;
    margin: 0px 0px 0px 0px;
    margin-bottom: 8px;
}

body.mobile-s ul.services > li h2 {
    font-size: 20px;
    line-height: 20px;
    margin: 0px 0px 0px 0px;
    margin-bottom: 6px;
}

ul.services > li p {
    font-size: 18px;
    line-height: 28px;
    margin: 0px 24px 0px 24px;
    text-align: justify;
}

body.tablet-s ul.services > li p {
    font-size: 16px;
    line-height: 24px;
    margin: 0px 18px 0px 0px;
}

body.mobile-s ul.services > li p {
    font-size: 14px;
    line-height: 18px;
    margin: 0px 18px 0px 0px;
}

ul.services > li p a {
    border-bottom: 1px dotted #ffffff;
    color: #ffffff;
    padding-bottom: 1px;
}

ul.services > li p a:hover {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 1px;
}

.devices {
    float: right;
}

span.device {
    background: transparent none no-repeat;
    display: inline-block;
    height: 24px;
    margin-right: 4px;
    vertical-align: middle;
    width: 24px;
}

span.device.web {
    background-image: url(../images/devices/web.png);
}

span.device.ios {
    background-image: url(../images/devices/ios.png);
}

span.device.android {
    background-image: url(../images/devices/android.png);
}

body.retina-s span.device {
    background-size: 24px 24px;
}

body.retina-s span.device.web {
    background-image: url(../images/devices/web-2x.png);
}

body.retina-s span.device.ios {
    background-image: url(../images/devices/ios-2x.png);
}

body.retina-s span.device.android {
    background-image: url(../images/devices/android-2x.png);
}

.problem {
    text-align: center;
}

.problem .poem {
    font-size: 32px;
    font-style: italic;
    line-height: 38px;
}

body.tablet-s .poem {
    font-size: 22px;
    line-height: 26px;
}

body.mobile-s .poem {
    font-size: 20px;
    line-height: 24px;
}

.problem.budah {
    color: #ffffff;
    margin: 0px auto 0px auto;
}

.problem.budah > img {
    height: 512px;
    width: 409px;
}

body.tablet-s .problem.budah > img {
    height: 256px;
    width: 205px;
}

body.mobile-s .problem.budah > img {
    height: 171px;
    width: 136px;
}

.flow {
    color: #2d2d2d;
    margin: 68px auto 0px auto;
    max-width: 860px;
}

body.tablet-s .flow,
body.mobile-s .flow {
    margin-top: 32px;
    padding: 0px 24px 0px 24px;
}

body.print .flow {
    color: #000000;
    margin: 0px auto 0px auto;
}

.flow.double {
    margin-bottom: 68px;
}

body.tablet-s .flow.double,
body.mobile-s .flow.double {
    margin-bottom: 24px;
}

.flow h2 {
    font-size: 28px;
    margin-top: 48px;
    text-transform: uppercase;
}

body.tablet-s .flow h2 {
    font-size: 20px;
    margin-top: 32px;
}

body.mobile-s .flow h2 {
    font-size: 18px;
    margin-top: 24px;
}

body.print .flow h2 {
    font-size: 16px;
    margin-top: 24px;
}

.flow p {
    font-size: 18px;
    line-height: 32px;
}

body.tablet-s .flow p {
    font-size: 15px;
    line-height: 26px;
}

body.mobile-s .flow p {
    font-size: 14px;
    line-height: 22px;
}

body.print .flow p {
    font-size: 13px;
    line-height: 18px;
}

.flow ul {
    margin: 12px 0px 12px 0px;
    padding: 0px 0px 0px 24px;
}

.flow ul > li {
    color: #3668c6;
    font-size: 18px;
    line-height: 38px;
}

body.tablet-s .flow ul > li {
    font-size: 15px;
    line-height: 28px;
}

body.mobile-s .flow ul > li {
    font-size: 14px;
    line-height: 26px;
}

body.print .flow ul > li {
    font-size: 13px;
    line-height: 22px;
}

.flow ul > li > span {
    color: #2d2d2d;
}

.flow > .finale {
    font-weight: bold;
    margin: 64px 0px 64px 0px;
    text-align: center;
}

body.tablet-s .flow > .finale,
body.mobile-s .flow > .finale {
    margin: 32px 0px 32px 0px;
}

.flow > .finale p {
    font-size: 24px;
}

body.tablet-s .finale p {
    font-size: 18px;
}

body.mobile-s .finale p {
    font-size: 16px;
}

.flow > .finale a {
    text-transform: uppercase;
}

.flow-header {
    color: #ffffff;
    padding: 140px 0px 90px 0px;
}

body.tablet-s .flow-header {
    padding: 60px 0px 60px 0px;
}

body.mobile-s .flow-header {
    padding: 30px 0px 30px 0px;
}

body.print .flow-header {
    background-image: none;
    color: #000000;
    padding: 20px 0px 0px 0px;
}

.flow-header.large {
    color: #ffffff;
    padding: 180px 0px 130px 0px;
}

body.tablet-s .flow-header.large {
    padding: 80px 0px 80px 0px;
}

body.mobile-s .flow-header.large {
    padding: 50px 0px 50px 0px;
}

.flow-header.blue {
    background-image: url(../images/textures/blue-1.png?compress=jpeg);
}

.flow-header.green{
    background-image: url(../images/textures/green-1.png?compress=jpeg);
}

.flow-header.red {
    background-image: url(../images/textures/red-1.png?compress=jpeg);
}

.flow-header.brown {
    background-image: url(../images/textures/brown-1.png?compress=jpeg);
}

.flow-header.pink {
    background-image: url(../images/textures/pink-1.png?compress=jpeg);
}

.flow-header.about {
    background: transparent url(../images/background/about-dark.jpg) no-repeat center center;
    background-size: cover;
}

.flow-header.joinus {
    background: transparent url(../images/background/joinus-dark.jpg) no-repeat center center;
    background-size: cover;
}

.flow-header-container {
    margin: 0px auto 0px auto;
    max-width: 860px;
}

body.tablet-s .flow-header-container,
body.mobile-s .flow-header-container {
    padding: 0px 24px 0px 24px;
}

.flow-header-container > h1 {
    font-size: 48px;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
}

body.tablet-s .flow-header-container > h1 {
    font-size: 32px;
}

body.mobile-s .flow-header-container > h1 {
    font-size: 26px;
}

body.print .flow-header-container > h1 {
    font-size: 26px;
}

.flow-header-container > h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0px 0px 0px 0px;
}

body.tablet-s .flow-header-container > h3 {
    font-size: 14px;
    line-height: 24px;
}

body.mobile-s .flow-header-container > h3 {
    font-size: 13px;
    line-height: 20px;
}

.flow-header.large .flow-header-container > h1 {
    font-size: 64px;
}

body.tablet-s .flow-header.large .flow-header-container > h1 {
    font-size: 46px;
}

body.mobile-s .flow-header.large .flow-header-container > h1 {
    font-size: 36px;
}

.flow-header-container > h2 {
    font-size: 24px;
    margin: 0px 0px 0px 0px;
}

body.tablet-s .flow-header-container h2 {
    font-size: 20px;
}

body.mobile-s .flow-header-container h2 {
    font-size: 18px;
}

body.print .flow-header-container > h2 {
    font-size: 18px;
}

body.print .flow-header-container a {
    display: none;
}

.references > .reference {
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

.references > .reference.closed {
    display: none;
}

.references > .reference.blue {
    background-image: url(../images/textures/blue-1.png?compress=jpeg);
}

.references > .reference.green{
    background-image: url(../images/textures/green-1.png?compress=jpeg);
}

.references > .reference.red {
    background-image: url(../images/textures/red-1.png?compress=jpeg);
}

.references > .reference.brown {
    background-image: url(../images/textures/brown-1.png?compress=jpeg);
}

.references > .reference.pink {
    background-image: url(../images/textures/pink-1.png?compress=jpeg);
}

.references > .reference h2 {
    font-size: 40px;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
}

body.tablet-s .references > .reference h2 {
    font-size: 34px;
}

body.mobile-s .references > .reference h2 {
    font-size: 26px;
}

.references > .reference p.description {
    font-size: 18px;
    line-height: 26px;
    margin: 24px 0px 24px 0px;
}

body.tablet-s .references > .reference p.description {
    font-size: 14px;
    line-height: 20px;
}

body.mobile-s .references > .reference p.description {
    font-size: 12px;
    line-height: 16px;
}

.references > .reference p.link {
    margin: 0px 0px 12px 0px;
}

.references > .reference > .reference-container {
    margin: 0px auto 0px auto;
    max-width: 860px;
    padding: 54px 0px 54px 0px;
}

body.tablet-s .references > .reference > .reference-container,
body.mobile-s .references > .reference > .reference-container {
    padding: 32px 24px 32px 24px;
}

.footer {
    background-color: #3d3d3d;
    color: #ffffff;
    display: none;
    padding: 38px 0px 38px 0px;
}

body.fixed .footer {
    display: block;
}

body.no-footer .footer {
    display: none;
}

body.print .footer {
    display: none;
}

body.tablet-s .footer,
body.mobile-s .footer {
    padding: 24px 24px 24px 24px;
}

.footer > .footer-container {
    line-height: 24px;
    margin: 0px auto 0px auto;
    max-width: 860px;
    vertical-align: middle;
}

.footer > .footer-container > .social {
    float: right;
}

.footer > .footer-container > .social a {
    margin-left: 4px;
}

.footer > .footer-container > .social a:hover {
    border-bottom: none;
    padding-bottom: 0px;
}
