@charset "utf-8";

@import url(animations.css);

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url(../fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semi-Bold"), local("OpenSans-Semibold"), url(../fonts/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "Heuristica";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Heuristica-Regular.otf);
}

body {
    animation: fade-into 0.75s ease-in-out;
    -o-animation: fade-into 0.75s ease-in-out;
    -ms-animation: fade-into 0.75s ease-in-out;
    -moz-animation: fade-into 0.75s ease-in-out;
    -webkit-animation: fade-into 0.75s ease-in-out;
    color: #4d4d4d;
    font-family: "Heuristica", Georgia, serif;
    font-size: 100%;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    line-height: 12px;
    margin: 0px 0px 0px 0px;
    padding: 60px 60px 60px 60px;
    text-align: left;
}

body.tablet-s {
    padding: 40px 40px 40px 40px;
}

body.mobile-s {
    padding: 20px 20px 20px 20px;
}

h1 {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 28px;
    line-height: 36px;
}

p {
    font-size: 14px;
    line-height: 26px;
    margin: 32px 0px 32px 0px;
}

dl {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 34px;
    margin: 32px 0px 32px 0px;
}

dl > dt {
    color: #8d8d8d;
    float: left;
    width: 120px;
}

section:after {
    background-color: #e9ecef;
    bottom: 0px;
    content: "";
    display: block;
    height: 1px;
    width: 60px;
}

a {
    color: #4d4d4d;
    text-decoration: none;
    transition: color 0.25s;
    -o-transition: color 0.25s;
    -ms-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -webkit-transition: color 0.25s;
}

a:hover,
a.hover {
    color: #4078c0;
}

img.avatar {
    border-radius: 50px 50px 50px 50px;
    height: 100px;
    width: 100px;
}

a.strong,
span.strong {
    background-color: #dbe9f4;
    padding: 2px 4px 2px 4px;
}

a.strong.blue
span.strong.blue {
    background-color: #dbe9f4;
}

a.strong.beige,
span.strong.beige {
    background-color: #f8ebdb;
}

span.weak {
    color: #8d8d8d;
    font-weight: 500;
}

a span {
    transition: color 0.25s;
    -o-transition: color 0.25s;
    -ms-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -webkit-transition: color 0.25s;
}

a:hover span.weak,
a.hover span.weak {
    color: #4d4d4d;
}

.footer-container {
    color: #8d8d8d;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 18px;
    margin: 32px 0px 0px 0px;
}
